---
import type { GetStaticPaths } from 'astro';
import Layout from '@layouts/Layout.astro';
import votingService from '@service/voting.service';
import { ButtonAstro } from '@components/Button';
import { marked } from 'marked';
import { confMarkdownNews } from '@helpers/index';
import FormVoting from '../../components/Forms/FormVoting';

export const prerender = true;

export const getStaticPaths = (async () => {
  const response = await votingService.getAll({ pageSize: -1 });

  const paths = response.data.map((vote) => ({
    params: { id: vote.slug },
    props: { vote },
  }));

  return paths;
}) satisfies GetStaticPaths;

const { vote } = Astro.props;
---

<Layout title='Voting by id'>
  <section class='flex flex-col gap-y-4 max-w-3xl w-full mx-auto'>
    <p class='text-xl'>{vote.name}</p>

    <article
      set:html={marked.parse(vote.content, {
        renderer: confMarkdownNews(),
      })}
    />

    <FormVoting client:load votingId={vote.documentId}>
      <section>
        {
          vote.variants.map((v) => (
            <div>
              <input
                id={v.uniqueId}
                type='radio'
                name='voting'
                value={v.uniqueId}
              />
              <label for={v.uniqueId}>{v.content}</label>
            </div>
          ))
        }
      </section>

      <ButtonAstro type='submit' class='py-1'>Vote</ButtonAstro>
    </FormVoting>
  </section>
</Layout>
