---
import { FundraisingsPay } from "@components/Fundraisings";
import { confMarkdownNews } from "@helpers/index";
import Layout from "@layouts/Layout.astro";
import fundraisingsService from "@service/fundraisings.service";
import clsx from "clsx";
import { marked } from "marked";

const { id, slug } = Astro.params;

const fundraising = await fundraisingsService.get(id!);
---

<Layout title={fundraising.data.title}>
  <section class="mb-10">
    <!-- style=`background-image: url('${fundraising.data.previewImage}');` -->
    <div class="h-[300px] overflow-hidden">
      <img
        class="max-h-full h-full w-full object-top object-cover"
        src=`${fundraising.data.previewImage}`
        alt="hero"
      />
    </div>
    <section class="flex justify-between items-center max-w-5xl w-full mx-auto">
      <article class="">
        <h1 class="text-5xl">
          {fundraising.data.title}
        </h1>
        <p>
          {fundraising.data.previewText}
        </p>
      </article>
      <FundraisingsPay />
    </section>
  </section>

  <article
    class="max-w-4xl w-full mx-auto"
    set:html={marked.parse(fundraising.data.content, {
      renderer: confMarkdownNews(),
    })}
  />
</Layout>

<style>
  .hero {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
